# Klasifikasi Berat Badan

In [1]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, StandardScaler
import joblib

In [5]:
df = pd.read_csv("datasets/weight-height.csv")
# df.drop('NaN', axis=1, inplace=True)

In [6]:
df.head()

      Height      Weight Gender
0  73.847017  241.893563   Male
1  68.781904  162.310473   Male
2  74.110105  212.740856   Male
3  71.730978  220.042470   Male
4  69.881796  206.349801   Male

## Scaling dan Labeling Atribut

In [7]:
std_scaler = StandardScaler()
label_enc = LabelEncoder()

df.iloc[:, :-1] = std_scaler.fit_transform(df.iloc[:, :-1])
df.Gender = label_enc.fit_transform(df.Gender)

In [8]:
df

         Height    Weight  Gender
0      1.944061  2.505797       1
1      0.627537  0.027101       1
2      2.012443  1.597806       1
3      1.394060  1.825222       1
4      0.913421  1.398750       1
...         ...       ...     ...
9996   0.181839  0.293631       0
9997  -0.649688 -1.026730       0
9998   0.693125  0.075127       0
9999  -1.149708 -1.488507       0
10000       NaN       NaN       2

[10001 rows x 3 columns]

In [9]:
X = df.iloc[:, :-1]
y = df.iloc[:, -1]

## Training Model

In [10]:
df.dropna(axis=0, how='all')  # untuk menghapus baris jika semua adalah nan
df.dropna(axis=1, how='all')   # untuk menghapus kolom jika semua isinya adalah nan

         Height    Weight  Gender
0      1.944061  2.505797       1
1      0.627537  0.027101       1
2      2.012443  1.597806       1
3      1.394060  1.825222       1
4      0.913421  1.398750       1
...         ...       ...     ...
9996   0.181839  0.293631       0
9997  -0.649688 -1.026730       0
9998   0.693125  0.075127       0
9999  -1.149708 -1.488507       0
10000       NaN       NaN       2

[10001 rows x 3 columns]

In [11]:
log_regr = LogisticRegression()
X_train, X_test, y_train, y_test = train_test_split(X, y)

model = log_regr.fit(X_train, y_train)

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').

In [57]:
accuracy = model.score(X_test, y_test)

In [55]:
print(f"Akurasi Model: {accuracy * 100}%")

Akurasi Model: 91.92%

## Menyimpan Model dan Scaler

In [ ]:
joblib.dump((model, std_scaler), "iris-classification-using-logistic-regression.pkl")

['iris-classification-using-logistic-regression.pkl']